<!DOCTYPE html>
<html ng-app="listaTelefonica">

<head>
    <title>Lista Telefônica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .jumbotron {
            width: 600px;
            background-color: rgba(245, 239, 239, 0.74);
            text-align: center;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            padding: 2%;
            border-radius: 10px;
        }

        .table {
            margin-top: 20px;
        }

        .form-control {
            margin-bottom: 5px;
        }

        .selecionado {
            background-color: rgb(236, 159, 166);
        }

        .negrito {
            font-weight: bold;
        }

        .title {
            font-size: 25px;
        }

        body {
            background-color: rgb(10, 10, 10);
        }
    </style>
    <script src="angular.js"></script>
    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope, $http) {
            $scope.app = "Lista Telefonica";
            $scope.adicionarContato = [];

            var carregarOperadoras = function () {
                $http.get("http://localhost:3000/operadoras").then(successCallback, errorCallback);

                function successCallback(response) {
                   $scope.operadoras = response.data;
                }
                function errorCallback(error) {
         
                }
            }

            var carregarContatos = function () {
                $http.get("http://localhost:3000/contatos").then(successCallback, errorCallback);

                function successCallback(response) {
                    $scope.contatos = response.data;
                    //success code
                }
                function errorCallback(error) {
                    //error code
                }
            }
            // $scope.adicionarContato = function () {
            //     $scope.contatos.push({nome:$scope.nome, telefone:$scope.telefone});

            $scope.adicionarContato = function (contato) {
                contato.data = new Date();
                $http.post("http://localhost:3000/contatos", contato).then(successCallback, errorCallback);
                function successCallback(response) {
                    console.log(response.data)
                    delete $scope.contato;
                    $scope.contatoForm.$setPristine();
                    carregarContatos();
                    //success code
                }
                function errorCallback(error) {
                    console.log("deu erro")
                    //error code
                }
            };

            $scope.apagarContatos = function (contatos) {
                   $scope.contatos = contatos.filter(function (contato) {
                    if (!contato.selecionado) 
                    return contato;
                    id = contato.id
                 $http.delete("http://localhost:3000/contatos/" + id).then(successCallback, errorCallback);
                function successCallback(response) {
                }
                function errorCallback(error) {

                }  
                });
            };
            $scope.isContatoSelecionado = function (contatos) {
                return contatos.some(function (contato) {
                    return contato.selecionado;
                                
                })
            };

            carregarOperadoras();

            carregarContatos();


        });

    </script>
</head>

<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <p class="title">{{app}}</p>
        <!-- <h2 ng-bind="app"></h2> -->
        <!-- <h2>{{app + 'Teste de concatenação'}}</h2> -->
        <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Buscar contato">
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Nome</a></th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th>Data</th>
            </tr>
            <tr ng-class="{'selecionado negrito': contato.selecionado}"
                ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:'nome'">
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>

            </tr>
        </table>
        <hr>
        <form name="contatoForm">
            <select class="form-select" ng-model="contato.operadora"
                ng-options="operadora.nome for operadora in operadoras">
                <!-- <select class="form-select" ng-model="contato.operadora" ng-options="operadora.codigo as operadora.nome for operadora in operadoras"> //no caso queira que a informação enviada seja o código -->
                <option value="">Selecione uma operadora</option>
            </select>
            <br>
            <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome"
                ng-required="true">
            <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone"
                ng-required="true">
        </form>
        <!-- {{contato}}
            {{contatos}} -->
        <!-- {{contato.nome}}
            {{contato.telefone}} -->
        <div ng-show="contatoForm.nome.$invalid && contatoForm.nome.$dirty" class="alert alert-danger">
            Please, inform you name.
        </div>
        <div ng-show="contatoForm.telefone.$invalid && contatoForm.telefone.$dirty" class="alert alert-danger">
            Please, inform you phone.
        </div>
        <!-- <button class="btn btn-primary" ng-click="adicionarContato()">Adicionar Contato</button> -->
        <div class="d-grid gap-2">
            <!-- <button class="btn btn-primary" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button> -->
            <button class="btn btn-primary" ng-click="adicionarContato(contato)"
                ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
            <button class="btn btn-danger" ng-click="apagarContatos(contatos)"
                ng-disabled="!isContatoSelecionado(contatos)">Apagar Contato</button>
        </div>

    </div>

</body>
<!-- <h1>Hello World!</h1> -->

</html>